<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Gorest">
            <directory>tests/Gorest</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="false">
        <include>
            <directory suffix=".php">core/models/</directory>
            <directory suffix=".php">core/</directory>
        </include>
        <exclude>
            <directory>core/application/</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage/"></html>
        </report>
    </coverage>
</phpunit>