{% extends "base.html.twig" %}

{% block content %}
<div class="container-xs container-sm container-md container-xl pt-5">
    <div class="container w-100">
        <div class="row w-100 mb-5 mt-5" id="main-page-h1">
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
            <div class="col-xs-10 col-sm-8 col-md-6 col-xl-4">
                <h1 class="h1 w-100 m-1 text-center">Add User App</h1>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
        </div>

        <div class="row w-100 mb-1" id="main-link-create-div">
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
            <div class="col-xs-10 col-sm-8 col-md-6 col-xl-4">
                <a class="btn btn-dark w-100" id="main-link-create" href="/user/new">Create user</a>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
        </div>

        <div class="row w-100 mb-1" id="main-link-show-div">
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
            <div class="col-xs-10 col-sm-8 col-md-6 col-xl-4">
                <a class="btn btn-dark w-100" id="main-link-show" href="/users">Show all users</a>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
        </div>

        <div class="row w-100 mb-1">
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
            <div class="col-xs-10 col-sm-8 col-md-6 col-xl-4">
                <div class="input-group w-100">
                    <input type="text" class="form-control w-75" id="main-input-userID">
                    <button class="btn btn-success w-25" id="main-page-find-button"
                            disabled>Find
                    </button>
                </div>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
        </div>



        <div class="row w-100">
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
            <div class="col-xs-10 col-sm-8 col-md-6 col-xl-4">
                <div class="input-group">
                    <select class="form-select w-75" id="select-data-source" aria-label="Example select with button addon">
                        <option
                                {% if dataSource == 'local' %}
                                {{ 'selected="selected"' }}
                                {% endif %}
                                value="local">Local Database</option>
                            <option
                                {% if dataSource == 'gorest' %}
                                {{ 'selected="selected"' }}
                                {% endif %}
                                value="gorest">gorest API</option>
                    </select>
                    <button class="btn btn-outline-secondary w-25" type="button" id="choose-data-source">Choose</button>
                </div>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
        </div>

        <div class="row w-100">
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
            <div class="col-xs-10 col-sm-8 col-md-6 col-xl-4">
                <div class="alert alert-danger" id="error-field-div" hidden>
                    <strong id="main-error-field"></strong>
                </div>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
        </div>
    </div>
</div>
</div>
</div>

<script type="text/javascript" src="/assets/scripts/users/find.js"></script>
<script type="text/javascript" src="/assets/scripts/userIdValid.js"></script>
<script type="text/javascript" src="/assets/scripts/setCookie.js"></script>

{% endblock %}