<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="width: 100%;">
<form class="new-user-form" method="POST" action="/core/controllers/UserController.php">
  <button style="width: 100%; margin: auto; border-radius: 10px;" type="submit" class="form-submit" name="formSubmit" id="main-page-submit-Button" value="Create user">Create user</button>
</form>
</body>
</html>