<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <meta charset="utf-8">
    <title>AddUserApp</title>
</head>

<body>
    <h1 class="main-page-header" id="main-page-h1">AddUserApp</h1>

    <form class="NewUserForm" method="POST" action="../controllers/UserController.php">
        <label for="email-text-input">E-mail</label>
        <br>
        <input type="text" class="InputText" name="email" id="email-text-input" placeholder="Enter your email">
        <br>

        <label class="Label" for="name-text-input">Your first and last name</label>
        <br>
        <input type="text" class="InputText" name="name" id="name-text-input"
            placeholder="Enter your first and last name">
        <br>

        <label class="Label" for="gender-select-input">Gender</label>
        <br>
        <select name="gender" id="gender-select-input" class="InputSelect" id="inputSelectGender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="transgender">Transgender</option>
            <option value="non-binary">Non-binary</option>
            <option value="other">Other</option>
        </select><br>

        <label class="Label" for="status-select-input">Status</label>
        <select name="status" class="InputSelect" id="status-select-input">
            <option>Active</option>
            <option>Inactive</option>
        </select>
        <br>

        <button type="submit" class="Button" id="submitButton" value="Submit">Submit</button>
    </form>

</body>

</html>